<div class="container mt-5">
  <div class="row">
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/slider/slide1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/slider/slide2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/slider/slide3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="alert alert-dark text-center" role="alert">
      <h3>AŞK KİTAPLARI</h3>
      <a href="ask" class="btn btn-secondary">TÜMÜNÜ İNCELE</a>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/ask/kucukyalanlar.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">KÜÇÜK YALANLAR</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>99₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 17₺</span>
          </h4>
          <a href="/urun?id=ask-7" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/ask/hasret.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">HASRET</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>72₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 15₺</span>
          </h4>
          <a href="/urun?id=ask-2" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/ask/unutmabeniapartmani.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">UNUTMA BENİ APARTMANI</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>86₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 52₺</span>
          </h4>
          <a href="/urun?id=ask-12" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/ask/askinhalleri.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">AŞKIN HALLERİ</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>55₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 14₺</span>
          </h4>
          <a href="/urun?id=ask-1" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="alert alert-dark text-center" role="alert">
      <h3>BİLİM KİTAPLARI</h3>
      <a href="bilim" class="btn btn-secondary">TÜMÜNÜ İNCELE</a>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/bilim/mutlubeyin.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">MUTLU BEYİN</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>87₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 24₺</span>
          </h4>
          <a href="/urun?id=bilim-10" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/bilim/defterimdenportreler.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">DEFTERİMDEN PORTRELER</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>73₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 31₺</span>
          </h4>
          <a href="/urun?id=bilim-2" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/bilim/sapiens.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">SAPİENS</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>87₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 49₺</span>
          </h4>
          <a href="/urun?id=bilim-11" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/bilim/beyinoyunlari.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">BEYİN OYUNLARI</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>67₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 25₺</span>
          </h4>
          <a href="/urun?id=bilim-1" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="alert alert-dark text-center" role="alert">
      <h3>ÇOCUK KİTAPLARI</h3>
      <a href="cocuk" class="btn btn-secondary">TÜMÜNÜ İNCELE</a>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/cocuk/sekerportakali.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">ŞEKER PORTAKALI</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>54₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 19₺</span>
          </h4>
          <a href="/urun?id=cocuk-12" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/cocuk/cocuklarnasilbasarir.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">ÇOCUKLAR NASIL BAŞARIR?</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>88₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 27₺</span>
          </h4>
          <a href="/urun?id=cocuk-4" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/cocuk/dikkatogretmen.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">DİKKAT ÖĞRETMEN</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>45₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 11₺</span>
          </h4>
          <a href="/urun?id=cocuk-5" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/cocuk/mutluprens.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">MUTLU PRENS</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>44₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 10₺</span>
          </h4>
          <a href="/urun?id=cocuk-10" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mt-5">
  <div class="row">
    <div class="alert alert-dark text-center" role="alert">
      <h3>KLASİK KİTAPLAR</h3>
      <a href="klasik" class="btn btn-secondary">TÜMÜNÜ İNCELE</a>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/klasik/zachariususta.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">ZACHARİUS USTA</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>80₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 14₺</span>
          </h4>
          <a href="/urun?id=klasik-12" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/klasik/sefiller.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">SEFİLLER</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>74₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 13₺</span>
          </h4>
          <a href="/urun?id=klasik-5" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/klasik/korlerulkesi.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">KÖRLER ÜLKESİ</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>80₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 25₺</span>
          </h4>
          <a href="/urun?id=klasik-4" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/klasik/yeraltindannotlar.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">YERALTINDAN NOTLAR</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>79₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 18₺</span>
          </h4>
          <a href="/urun?id=klasik-11" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="alert alert-dark text-center" role="alert">
      <h3>POLİSİYE KİTAPLARI</h3>
      <a href="polisiye" class="btn btn-secondary">TÜMÜNÜ İNCELE</a>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/polisiye/babiesrar.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">BAB-İ ESRAR</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>86₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 24₺</span>
          </h4>
          <a href="/urun?id=polisiye-2" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/polisiye/suclulukatesi.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">SUÇLULUK ATEŞİ</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>87₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 18₺</span>
          </h4>
          <a href="/urun?id=polisiye-9" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/polisiye/baskervillelerinkopegi.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">BASKERVİLLE'LERİN KÖPEĞİ</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>90₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 28₺</span>
          </h4>
          <a href="/urun?id=polisiye-3" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/polisiye/yabanci.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">YABANCI</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>70₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 32₺</span>
          </h4>
          <a href="/urun?id=polisiye-12" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container mt-5">
  <div class="row">
    <div class="alert alert-dark text-center" role="alert">
      <h3>PSİKOLOJİ KİTAPLARI</h3>
      <a href="psikoloji" class="btn btn-secondary">TÜMÜNÜ İNCELE</a>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/psikoloji/madalyonunici.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">MADALYONUN İÇİ</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>99₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 45₺</span>
          </h4>
          <a href="/urun?id=psikoloji-6" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/psikoloji/bosayna.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">BOŞ AYNA</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>94₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 44₺</span>
          </h4>
          <a href="/urun?id=psikoloji-3" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/psikoloji/bedenkayittutar.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">BEDEN KAYIT TUTAR</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>65₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 49₺</span>
          </h4>
          <a href="/urun?id=psikoloji-2" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/psikoloji/yaratmacesareti.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">YARATMA CESARETİ</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>77₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 21₺</span>
          </h4>
          <a href="/urun?id=psikoloji-11" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container mt-5">
  <div class="row">
    <div class="alert alert-dark text-center" role="alert">
      <h3>ROMAN KİTAPLARI</h3>
      <a href="roman" class="btn btn-secondary">TÜMÜNÜ İNCELE</a>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/roman/demirokce.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">DEMİR ÖKÇE</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>72₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 23₺</span>
          </h4>
          <a href="/urun?id=roman-3" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/roman/sevgiliarsizolum.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">SEVGİLİ ARSIZ ÖLÜM</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>73₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 27₺</span>
          </h4>
          <a href="/urun?id=roman-9" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/roman/benkirke.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">BEN, KİRKE</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>76₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 41₺</span>
          </h4>
          <a href="/urun?id=roman-2" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/roman/ziyan.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title text-center">ZİYAN</h5>
          <h4 class="text-center py-4">
            <span class="text-secondary" style="font-size: 20px;"><del>79₺</del></span>
            <span class="text-danger" style="font-size: 30px;"> 38₺</span>
          </h4>
          <a href="/urun?id=roman-12" class="btn btn-primary d-grid gap-2 mt-1">İNCELE</a>
        </div>
      </div>
    </div>
  </div>
</div>